<footer>
   
      <div><img class="logo" src="/public/assets/logo_dark.png" alt="Mr.Coffee-logo"></div>
      <div>
          <p align = center>Copyright @ Karat2021 @Unnati2021</p>
      </div>
      
    </footer>