<header>
  <nav>
    <ul class="nav-box">
      <li class="nav-item i0"><img class="logo" src="/assets/logo_blanc.png" alt="Mr.Coffee-logo"></li>
      <li class="nav-item i1"><a href="/"><i class="fas fa-home menu-icon"></i>Home</a></li>
      <li class="nav-item i2"><a href="/users"><i class="fas fa-user-alt menu-icon"></i>Users</a></li>
      <li class="nav-item i3"><a href="/schedules"><i class="fas fa-calendar-alt menu-icon"></i>Schedules</a></li>
      <li class="nav-item i4"><a href="/logout"><i class="fa fa-sign-out menu-icon"></i>Logout</a></li>
    </ul>
  </nav>
  <div class="small-menu">
    <ul class="small-nav-box">
      <li class="s-nav-item s0"><img class="logo" src="/assets/logo_blanc.png" alt="Mr.Coffee-logo"></li>
      <li class="s-nav-item s1"><a href="/">Home</a></li>
      <li class="s-nav-item s2"><a href="/users">Users</a></li>
      <li class="s-nav-item s3"><a href="/schedules">Schedules</a></li>
      <li class="s-nav-item s4"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</header>