<header>
  <nav>
    <img class="logo" src="/assets/full_logo_white.png" alt="Mr.Coffee-logo">
    <ul class="nav-box">
      <li class="nav-item"><a href="/"><i class="fas fa-home menu-icon"></i>Home</a></li>
      <li class="nav-item"><a href="/users"><i class="fas fa-user-alt menu-icon"></i>Users</a></li>
      <li class="nav-item"><a href="/schedules"><i class="fas fa-calendar-alt menu-icon"></i>Schedules</a></li>
      <li class="nav-item"><a href="/logout"><i class="fa fa-sign-out menu-icon"></i>Logout</a></li>
    </ul>
  </nav>
</header>