<header>
  <div class="menu-box flex-container">
    <img class="logo" src="/assets/logo_blanc.png" alt="Mr.Coffee-logo">
    <nav>
      <a class="nav-item" href="/">Home</a>
      <a class="nav-item" href="/users">Users</a>
      <a class="nav-item" href="/schedules">Schedules</a>
      <a class="nav-item" href="/logout">Logout</a>
    </nav>
  </div>
</header>